[submodule "lib/cpptest-lite"]
	path = lib/cpptest-lite
	url = https://github.com/doe300/cpptest-lite
	branch = stable
[submodule "lib/rtaudio"]
	path = lib/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus
[submodule "lib/cryptopp"]
	path = lib/cryptopp
	url = https://github.com/weidai11/cryptopp.git
