platform:
  - x86
  - x64
  
configuration:
  - Release

os:
  - Visual Studio 2015 RC
  
build_script:
  - md build
  - cd build
  - cmake -DBUILD_TESTING=ON -DTEST_OUTPUT_CONSOLE=ON -G"Visual Studio 14 2015" ..
  - cmake --build .
  
after_build:
  - ps: Push-AppveyorArtifact build\build\Debug\OHMComm.exe -FileName "OHMComm-win-$env:platform"

#test_script:
#  - .\build\test\Debug\Tests.exe

#artifacts:
#  - path: '**\OHMComm.exe'
#    name: OHMComm-win-$(platform)

deploy:
- provider: GitHub
  description: 'Windows builds'
  draft: false
  prerelease: false
  artifact: OHMComm-win-$(platform)
  auth_token:
    secure: fIObA1SGSxF/oK69Deh0D7eTmdJirubBGCjbHDn7EA7M4mP2AdkHDEheW77PTPge
  on:
    #branch: master
    appveyor_repo_tag: true
